/* =====================================================
   File: styles/tokens/_colors.scss
   ----------------------------------------------------- */

$white: #ffffff;
$seashell: #fff4ef;

$dust: (
  500: #ddd8d7
);

$carbon: (
  100: #f1f0ef,
  200: #d6d3d1,
  300: #b5b1ae,
  400: #6f6a67,
  500: #1c1a19,
  600: #151312,
  700: #0f0e0d
);

$coral: (
  50:  #fff2ef,
  100: #feddd7,
  200: #fbc0b6,
  300: #f59a8b,
  400: #ef7c6b,
  500: #ea6856,
  600: #d95a48,
  700: #bf4b3c,
  800: #9e3d32,
  900: #7e3028
);

$clay: (
  50:  #f4ecea,
  100: #e6d2cd,
  200: #d1b1aa,
  300: #b88a82,
  400: #9b5f56,
  500: #834138,
  600: #72352e,
  700: #5e2a25,
  800: #4b211d,
  900: #381816
);

